---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} QANT Strategic Investments L.L.C-FZ. All rights reserved.
	<div class="ceo-info">
		Managed by Maricar Tadaya Garcia (CEO)
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.ceo-info {
		margin-top: 1em;
		font-size: 0.8em;
		opacity: 0.8;
	}
</style>
